/*police du site*/

@font-face {
    font-family: 'sinkin-sans';
    src: url('/sinkin-sans/SinkinSans-100Thin.otf') format('eot');
}

/*propriétés appliquées au footer*/

footer{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  color:white;
  text-align:center;
  position:relative;
  flex-shrink:0;
  bottom:0;
  background-color: hsl(210,8%,15%);
}

.col-footer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.column{
}

.row{
  display:flex;
  justify-content:center;
}

.copyright {
  position:relative;
  bottom:0;
  font-size:10px;
}

/*propriétés appliquées au header*/

header{
}

.container-nav{
  height:100px;
  padding-top:5px;
  border-bottom:1px solid grey;
  border-radius: 10px;
}

.navbar-list{
  list-style-type: none;
  display:flex;
  flex-direction:row;
  justify-content: center;
}

.nav-item{
    box-sizing: border-box;
    padding : 20px;
    margin:2px;
}

.nav-item:hover{
  border-left : 2px solid #4AD81C;
  border-right: 2px solid #4AD81C;
  background-color: #E8E8E8;
}

a{
  text-decoration:none;
}

a:hover{
  border-bottom:solid #4AD81C 2px;
}

a:active{
  border-bottom:solid #4AD81C 2px;
}

/*propriétés appliquées au body et contenants des diff pages*/

h1{
}

form{
  display:flex;
  justify-content:space-around;
  flex-direction:column;
  align-items: center;
}

body{
  font-family:'Sinkin-sans', Arial, sans-serif;
  width:80%;
  margin:auto;
  background-color:white;
}

.logo{
  width: 100px;
}
.profile_pic{
  float:right;
}

.carte{
  box-shadow:20px;
  margin-left:15px;
  margin-right:15px;
  border:1px solid #E8E8E8;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15)!important;
  text-align :center;
  padding:10px;
}

.carte img{
  max-width: 100px;
  max-height: 100px;
}

button{
  background-color:#4AD81C;
  color: white;
  border-radius:5px;
}

.button_content{
  padding:5px;
  margin:15px;
}
