/*police personnalisée du site*/

@font-face {
    font-family: 'sinkin-sans';
    src: url('/sinkin-sans/SinkinSans-100Thin.otf') format('eot');
}

/*propriétés appliquées au footer*/

footer{
  color:white;
  text-align:left;
  align-items: center;
  background-color: hsl(210,8%,15%);
  margin-top:auto;
}

.colfooter{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}

.copyright {
  display:flex;
  justify-content: center;
  color:white;
  position:center;
  bottom:0;
  background-color: hsl(210,8%,15%);
}


/*propriétés appliquées au header*/

.container-nav{
  font-size:20px;
  height:100px;
  padding-top:5px;
  border-bottom:1px solid grey;
  border-radius: 10px;
}

.navbar-list{
  list-style-type: none;
  display:flex;
  flex-direction:row;
  justify-content: center;
}

.nav-item{
    box-sizing: border-box;
    padding : 20px;
    margin:2px;
}

.nav-item:hover{
  border-left : 2px solid #4AD81C;
  border-right: 2px solid #4AD81C;
  background-color: #F5F5F5;
}

a{
  text-decoration:none;
  color:grey;
}

a:hover{
  border-bottom:solid #4AD81C 2px;
}

/*propriétés appliquées au body et contenants des diff pages*/
/*générales*/
h1{
  color:grey;
}

form{
  display:flex;
  justify-content:space-around;
  flex-direction:row;
  align-items: center;
}

input.placeholder{
  text-align: center;
}

body{
  font-family:'Sinkin-sans', Arial, sans-serif;
  text-align:center;
  width:80%;
  margin:auto;
  background-color:white;
  display:flex;
  flex-direction:column;
  min-height: 100vh;
}

button{
  background-color:#4AD81C;
  color: white;
  border-radius:5px;
}

.button_content{
  padding:5px;
  margin:15px;
}

.logo{
  width: 100px;
}


/*cartes page d'accueil*/

.rowcards{
  display:flex;
  justify-content:center;
}

.carte{
  box-shadow:20px;
  margin-left:15px;
  margin-right:15px;
  border:1px solid #E8E8E8;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15)!important;
  text-align :center;
  padding:10px;
}

.carte img{
  max-width: 100px;
  max-height: 100px;
}

/*liste page à propos*/

.liste{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}

.liste ul{
  text-align: left;
}

.profile_pic{
  float:left;
}

/*Slider*/

.slider{
  position: relative;
  width: 100%;
  margin: auto;
  margin-top:5px;
  display: flex;
  align-items: center;
}

#slide{
  width:100%;
  height:100%
}

#precedent,
#suivant {
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 1;
    position: absolute;
    font-size: 100px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding:10px;
}

#precedent {
    left: 0;
}

#suivant {
    right: 0;
}

#slider:hover #precedent,
#slider:hover #suivant {
    opacity: 1;
}
